.fourzerofour {
    font-weight: 600;
    font-size: 10rem;
    margin-left: -0.4rem;
}
.page-not-found {
    & a {
        padding: 0.5rem 0.7rem;
        margin-bottom: -1.8rem;
        display: inline-block;
        font-family: "Cinzel", serif;
        color:$light-gold;
        font-family:1.2rem;
        font-weight:600;
    }
    & .search-field {
        border-radius:0;
        text-align:center;
    }
    & .search-submit {
        border-radius:0;
        background:$dark-gold;
        color:$white;
        border: 0;
        padding-bottom: 0.53rem;
    }
}